@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');


@layer base {
  :root {
    /* For rgb(255 115 179 / <alpha-value>) */
    --header-bg: 240, 240, 168;
  }
}

body{
  background-color: rgb(255, 252, 204);
}

*{
  font-family: 'Barlow', sans-serif;
}

p{
  font-size: 22px;
}

main{
  overflow-x: hidden;
}