
.card {
    font-family: "Montserrat", sans-serif;
    color: rgb(46 125 50);
    position: absolute;
    width: 700px;
    height: 300px;
    top: 30%;
    left: 26%;
    background: #90ff60;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137, 0.1);
    text-align: center;
  }
  
  .prevNext {
    text-align: center;
    margin-top: 10px;
  }
  


  .submit {
    color: rgb(46 125 50);
    box-shadow: 0 1px 10px rgb(138 137 137);
    border-radius: 7px;
    border-color: transparent;
    background-color: #90ff60;
    text-align: center;
    margin-left: 5px;
    width: 75px;
    height: 40px;
  }
  
  .option {
    color: rgb(46 125 50);
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    border-radius: 7px;
    border-color: transparent;
    background-color: #90ff60;
    text-align: center;
    height: fit-content;
    margin-bottom: 10px;
  }
  
  .optionChosen {
    color: #90ff60;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    border-radius: 7px;
    border-color: transparent;
    background-color: rgb(46 125 50);
    text-align: center;
    height: fit-content;
    margin-bottom: 10px;
  }